@theme {
  --color-primary: #22c55e;
  --color-primary-soft: #dcfce7;

  --color-secondary: #eab308;
  --color-secondary-soft: #fef3c7;

  --color-background: #f8fafc;
  --color-card: #ffffff;

  --color-text: #0f172a;
  --color-muted: #64748b;
}